.profile-pic {
	width: 170px;
	height: 200px;
}

html {
  background-color: #D3D3D3
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial, sans-serif;
}

.navbar { 
background: #ADD8E6;
}